/* irctc */
section.section_for_soaib {
    border-radius: 1rem;
    padding: .1rem 2rem 2rem 2rem;
    margin-bottom: 1rem;
    background: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

section.section_for_soaib>h3 {
    color: white;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-variant-caps: all-petite-caps;
}

input.input_for_soaib {
    outline: none;
    margin: .5rem .2rem;
    padding: .2rem 1rem;
    width: 10rem;
    height: 5rem;
    font-size: large;
    border: none;
    border-radius: .3rem;
}
div.passenger_for_soaib>input.input_for_soaib{
    display: inline-block;
}
button.btn_for_soaib {
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    margin: 0 1.2rem 0 0;
    padding: .4rem 1rem;
    border: 2px solid transparent;
    background: rebeccapurple;
    transition: .3s all ease;
    font-weight: bold;
}

button.btn_for_soaib:hover {
    background: yellowgreen;
    color: rebeccapurple;
    border: 2px solid rebeccapurple;
}

input.age_for_soaib {
    width: 2rem;
}

input.gender_for_soaib {
    width: 4rem;
}

input.seat_for_soaib {
    width: 10rem;
}
