/* irctc */
section.section_for_soaib {
    border-radius: 1rem;
    padding: .1rem 2rem 2rem 2rem;
    margin-bottom: 1rem;
    background: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

section.section_for_soaib>h3 {
    color: white;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-variant-caps: all-petite-caps;
}

input.input_for_soaib {
    outline: none;
    margin: .5rem .2rem;
    padding: .2rem 1rem;
    width: 100rem !important;
    height: 5rem;
    font-size: large;
    border: none;
    border-radius: .3rem;
}

select.input_for_soaib {
    outline: none;
    margin: .5rem .2rem;
    padding: .2rem 1rem;
    width: 50rem !important;
    height: 5rem;
    font-size: large;
    border: none;
    border-radius: .3rem;
}

select.logins {
    width: 100rem !important;
}

div.div_passenger_for_soaib>input.input_for_soaib {
    display: inline-block;
}

input.train_for_soaib {
    width: 50rem !important;
}

button.btn_for_soaib {
    font-size: 2rem !important;
    outline: none;
    cursor: pointer;
    color: white;
    margin: 3rem 2rem 0 2rem !important;
    padding: .4rem 1rem !important;
    border: 2px solid transparent !important;
    background: #fb792b;
    transition: .3s all ease;
    font-weight: bold;
}

button.btn_for_soaib:hover {
    background: yellowgreen;
    color: #fb792b;
    border: 2px solid #fb792b !important;
}

input.passenger_for_soaib {
    width: 40rem !important;
}

input.age_for_soaib {
    width: 8rem !important;
}

input.gender_for_soaib {
    width: 9rem !important;
}

input.seat_for_soaib {
    width: 30rem !important;
}
input[type="date"] {
    position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
    content: "\25BC"; 
    color: #555;
    padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after {
    color: #bf1400;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }
